<h1 align=center><font size=5>Data Analysis with Python</font></h1>

## QADIR BUX

<h1>Data Wrangling</h1>

<h3>Welcome!</h3>

By the end of this notebook, you will have learned the basics of Data Wrangling!

<h2>Table of content</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul>
    <li><a href="#identify_handle_missing_values">Identify and handle missing values</a>
        <ul>
            <li><a href="#identify_missing_values">Identify missing values</a></li>
            <li><a href="#deal_missing_values">Deal with missing values</a></li>
            <li><a href="#correct_data_format">Correct data format</a></li>
        </ul>
    </li>
    <li><a href="#data_standardization">Data standardization</a></li>
    <li><a href="#data_normalization">Data Normalization (centering/scaling)</a></li>
    <li><a href="#binning">Binning</a></li>
    <li><a href="#indicator">Indicator variable</a></li>
</ul>
    
Estimated Time Needed: <strong>30 min</strong>
</div>
 
<hr>

<h2>What is the purpose of Data Wrangling?</h2>

Data Wrangling is the process of converting data from the initial format to a format that may be better for analysis.

<h3>What is the fuel consumption (L/100k) rate for the diesel car?</h3>

<h3>Import data</h3>
<p>
You can find the "Automobile Data Set" from the following link: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a>. 
We will be using this data set throughout this course.
</p>

<h4>Import pandas</h4>

In [22]:
import pandas as pd

<h2>Reading the data set from the URL and adding the related headers.</h2>

URL of the dataset

In [23]:
filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

 Python list <b>headers</b> containing name of headers

In [24]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

Use the Pandas method <b>read_csv()</b> to load the data from the web address. Set the parameter  "names" equal to the Python list "headers".

In [25]:
df = pd.read_csv(filename, names = headers)

 Use the method <b>head()</b> to display the first five rows of the dataframe.

In [26]:
# To see what the data set looks like, we'll use the head() method.
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

As we can see, several question marks appeared in the dataframe; those are missing values which may hinder our further analysis. 
<div>So, how do we identify all those missing values and deal with them?</div> 


<b>How to work with missing data?</b>

Steps for working with missing data:
<ol>
    <li>identify missing data</li>
    <li>deal with missing data</li>
    <li>correct data format</li>
</ol>

<h2 id="identify_handle_missing_values">Identify and handle missing values</h2>


<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B

In [27]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Identify_missing_values

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [28]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

"True" stands for missing value, while "False" stands for not missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values. 
</p>

In [29]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    164
True      41
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel-type
fuel-type
False    205
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheels
drive-wheels
False    205
Name: count, dtype: int64

engine-location
engine-location
False    205
Name: count, dtype: int64

wheel-base
wheel-base
False    205
Name: count, dtype: int64

length
length
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-weight
curb-weight
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-size
engine-size
False    205
Name: count, dtype: int64

fuel-system
fuel-system
False    205
Name: count, dtype: int64

bore
bore
False    201
True       4
Name: count, dtype: int64

stroke
stroke
False    201
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    205
Name: count, dtype: int64

horsepower
horsepower
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64

city-mpg
city-mpg
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

Based on the summary above, each column has 205 rows of data, seven columns containing missing data:
<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>
<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

<h4>Calculate the average of the column </h4>

In [30]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

Average of normalized-losses: 122.0

<h4>Replace "NaN" by mean value in "normalized-losses" column</h4>

In [31]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

C:\Users\deLL\AppData\Local\Temp\ipykernel_4808\2599940699.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

<h4>Calculate the mean value for 'bore' column</h4>

In [32]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

Average of bore: 3.3297512437810943

<h4>Replace NaN by mean value</h4>

In [33]:
df["bore"].replace(np.nan, avg_bore, inplace=True)

C:\Users\deLL\AppData\Local\Temp\ipykernel_4808\1952189479.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["bore"].replace(np.nan, avg_bore, inplace=True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>According to the example above, replace NaN in "stroke" column by mean.</b>
</div>

In [35]:
# Write your code below and press Shift+Enter to execute 
mean_stroke = df['stroke'].mean()

# Replace NaN values with the mean
df['stroke'].fillna(mean_stroke, inplace=True)

TypeError: can only concatenate str (not "int") to str

<h4>Calculate the mean value for the  'horsepower' column:</h4>

In [36]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

Average horsepower: 104.25615763546799

<h4>Replace "NaN" by mean value:</h4>

In [37]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

C:\Users\deLL\AppData\Local\Temp\ipykernel_4808\3312866579.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

<h4>Calculate the mean value for 'peak-rpm' column:</h4>

In [38]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

Average peak rpm: 5125.369458128079

<h4>Replace NaN by mean value:</h4>

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

C:\Users\deLL\AppData\Local\Temp\ipykernel_1384\2061375298.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

To see which values are present in a particular column, we can use the ".value_counts()" method:

In [ ]:
df['num-of-doors'].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

We can see that four doors are the most common type. We can also use the ".idxmax()" method to calculate for us the most common type automatically:

In [ ]:
df['num-of-doors'].value_counts().idxmax()

'four'

The replacement procedure is very similar to what we have seen previously

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

C:\Users\deLL\AppData\Local\Temp\ipykernel_1384\2406474689.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["num-of-doors"].replace(np.nan, "four", inplace=True)

Finally, let's drop all rows that do not have price data:

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<b>Good!</b> Now, we obtain the dataset with no missing values.

<h3 id="correct_data_format">Correct data format</h3>
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 
<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Lets list the data types for each column</h4>

In [ ]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

<p>As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.</p>

<h4>Convert data types to proper format</h4>

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

NameError: name 'df' is not defined

<h4>Let us list the columns after the conversion</h4>

In [ ]:
df.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

<b>Wonderful!</b>

Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.

<h2 id="data_standardization">Data Standardization</h2>
<p>
Data is usually collected from different agencies with different formats.
(Data Standardization is also a term for a particular type of data normalization, where we subtract the mean and divide by the standard deviation)
</p>
    
<b>What is Standardization?</b>
<p>Standardization is the process of transforming data into a common format which allows the researcher to make the meaningful comparison.
</p>

<b>Example</b>
<p>Transform mpg to L/100km:</p>
<p>In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accept the fuel consumption with L/100km standard</p>
<p>We will need to apply <b>data transformation</b> to transform mpg into L/100km?</p>

<p>The formula for unit conversion is<p>
L/100km = 235 / mpg
<p>We can do many mathematical operations directly in Pandas.</p>

In [ ]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

NameError: name 'df' is not defined

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg", and change the name of column to "highway-L/100km".</b>
</div>

In [ ]:
# Write your code below and press Shift+Enter to execute 
df['highway-L/100km'] = 235.215 / df['highway-mpg']


df.drop(columns=['highway-mpg'], inplace=True)

print("\nDataFrame after conversion and renaming:")
print(df)

DataFrame after conversion and renaming:
     symboling  normalized-losses         make fuel-type aspiration  \
0            3                122  alfa-romero       gas        std
1            3                122  alfa-romero       gas        std
2            1                122  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1                 95        volvo       gas        std
197         -1                 95        volvo       gas      turbo
198         -1                 95        volvo       gas        std
199         -1                 95        volvo    diesel      turbo
200         -1                 95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
196         four        sedan          rwd           front       109.1  ...
197         four        sedan          rwd           front       109.1  ...
198         four        sedan          rwd           front       109.1  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...

     fuel-system  bore  stroke  compression-ratio horsepower peak-rpm  \
0           mpfi  3.47    2.68                9.0        111   5000.0
1           mpfi  3.47    2.68                9.0        111   5000.0
2           mpfi  2.68    3.47                9.0        154   5000.0
3           mpfi  3.19    3.40               10.0        102   5500.0
4           mpfi  3.19    3.40                8.0        115   5500.0
..           ...   ...     ...                ...        ...      ...
196         mpfi  3.78    3.15                9.5        114   5400.0
197         mpfi  3.78    3.15                8.7        160   5300.0
198         mpfi  3.58    2.87                8.8        134   5500.0
199          idi  3.01    3.40               23.0        106   4800.0
200         mpfi  3.78    3.15                9.5        114   5400.0

     city-mpg    price  city-L/100km  highway-L/100km
0          21  13495.0     11.190476         8.711667
1          21  16500.0     11.190476         8.711667
2          19  16500.0     12.368421         9.046731
3          24  13950.0      9.791667         7.840500
4          18  17450.0     13.055556        10.691591
..        ...      ...           ...              ...
196        23  16845.0     10.217391         8.400536
197        19  19045.0     12.368421         9.408600
198        18  21485.0     13.055556        10.226739
199        26  22470.0      9.038462         8.711667
200        19  22625.0     12.368421         9.408600

[201 rows x 27 columns]

<h2 id="data_normalization">Data Normalization</h2>

<b>Why normalization?</b>
<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1
</p>

<b>Example</b>
<p>To demonstrate normalization, let's say we want to scale the columns "length", "width" and "height" </p>
<p><b>Target:</b>would like to Normalize those variables so their value ranges from 0 to 1.</p>
<p><b>Approach:</b> replace original value by (original value)/(maximum value)</p>

In [ ]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Questiont #3: </h1>

<b>According to the example above, normalize the column "height".</b>
</div>

In [ ]:
# Write your code below and press Shift+Enter to execute 
min_height = df['height'].min()
max_height = df['height'].max()
df['normalized_height'] = (df['height'] - min_height) / (max_height - min_height)


print("\nDataFrame after normalization:")
print(df)

DataFrame after normalization:
     symboling  normalized-losses         make fuel-type aspiration  \
0            3                122  alfa-romero       gas        std
1            3                122  alfa-romero       gas        std
2            1                122  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1                 95        volvo       gas        std
197         -1                 95        volvo       gas      turbo
198         -1                 95        volvo       gas        std
199         -1                 95        volvo    diesel      turbo
200         -1                 95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
196         four        sedan          rwd           front       109.1  ...
197         four        sedan          rwd           front       109.1  ...
198         four        sedan          rwd           front       109.1  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...

     bore  stroke  compression-ratio  horsepower peak-rpm city-mpg    price  \
0    3.47    2.68                9.0         111   5000.0       21  13495.0
1    3.47    2.68                9.0         111   5000.0       21  16500.0
2    2.68    3.47                9.0         154   5000.0       19  16500.0
3    3.19    3.40               10.0         102   5500.0       24  13950.0
4    3.19    3.40                8.0         115   5500.0       18  17450.0
..    ...     ...                ...         ...      ...      ...      ...
196  3.78    3.15                9.5         114   5400.0       23  16845.0
197  3.78    3.15                8.7         160   5300.0       19  19045.0
198  3.58    2.87                8.8         134   5500.0       18  21485.0
199  3.01    3.40               23.0         106   4800.0       26  22470.0
200  3.78    3.15                9.5         114   5400.0       19  22625.0

    city-L/100km  highway-L/100km  normalized_height
0      11.190476         8.711667           0.083333
1      11.190476         8.711667           0.083333
2      12.368421         9.046731           0.383333
3       9.791667         7.840500           0.541667
4      13.055556        10.691591           0.541667
..           ...              ...                ...
196    10.217391         8.400536           0.641667
197    12.368421         9.408600           0.641667
198    13.055556        10.226739           0.641667
199     9.038462         8.711667           0.641667
200    12.368421         9.408600           0.641667

[201 rows x 28 columns]

Here we can see, we've normalized "length", "width" and "height" in the range of [0,1].

<h2 id="binning">Binning</h2>
<b>Why binning?</b>
<p>
    Binning is a process of transforming continuous numerical variables into discrete categorical 'bins', for grouped analysis.
</p>

<b>Example: </b>
<p>In our dataset, "horsepower" is a real valued variable ranging from 48 to 288, it has 57 unique values. What if we only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? Can we rearrange them into three â€˜bins' to simplify analysis? </p>

<p>We will use the Pandas method 'cut' to segment the 'horsepower' column into 3 bins </p>

<h3>Example of Binning Data In Pandas</h3>

 Convert data to correct format

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

Lets plot the histogram of horspower, to see what the distribution of horsepower looks like.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

ImportError: DLL load failed while importing _cext: The specified module could not be found.

<p>We would like 3 bins of equal size bandwidth so we use numpy's <code>linspace(start_value, end_value, numbers_generated</code> function.</p>
<p>Since we want to include the minimum value of horsepower we want to set start_value=min(df["horsepower"]).</p>
<p>Since we want to include the maximum value of horsepower we want to set end_value=max(df["horsepower"]).</p>
<p>Since we are building 3 bins of equal length, there should be 4 dividers, so numbers_generated=4.</p>

We build a bin array, with a minimum value to a maximum value, with bandwidth calculated above. The bins will be values used to determine when one bin ends and another begins.

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

 We set group  names:

In [ ]:
group_names = ['Low', 'Medium', 'High']

 We apply the function "cut" the determine what each value of "df['horsepower']" belongs to.

In [39]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

NameError: name 'bins' is not defined

Lets see the number of vehicles in each bin.

In [ ]:
df["horsepower-binned"].value_counts()

NameError: name 'df' is not defined

Lets plot the distribution of each bin.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

<p>
    Check the dataframe above carefully, you will find the last column provides the bins for "horsepower" with 3 categories ("Low","Medium" and "High"). 
</p>
<p>
    We successfully narrow the intervals from 57 to 3!
</p>

<h3>Bins visualization</h3>
Normally, a histogram is used to visualize the distribution of bins we created above.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

a = (0,1,2)

# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

The plot above shows the binning result for attribute "horsepower".

<h2 id="indicator">Indicator variable (or dummy variable)</h2>
<b>What is an indicator variable?</b>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<b>Why we use indicator variables?</b>
<p>
    So we can use categorical variables for regression analysis in the later modules.
</p>
<b>Example</b>
<p>
    We see the column "fuel-type" has two unique values, "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" into indicator variables.
</p>

<p>
    We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type. 
</p>

In [40]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

get indicator variables and assign it to data frame "dummy_variable_1"

In [41]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

   diesel   gas
0   False  True
1   False  True
2   False  True
3   False  True
4   False  True

change column names for clarity

In [42]:
dummy_variable_1.rename(columns={'fuel-type-diesel':'gas', 'fuel-type-diesel':'diesel'}, inplace=True)
dummy_variable_1.head()

   diesel   gas
0   False  True
1   False  True
2   False  True
3   False  True
4   False  True

We now have the value 0 to represent "gas" and 1 to represent "diesel" in the column "fuel-type". We will now insert this column back into our original dataset.

In [43]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [44]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,13495,False,True
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,16500,False,True
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,26,16500,False,True
3,2,164,audi,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102,5500,24,30,13950,False,True
4,2,164,audi,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115,5500,18,22,17450,False,True

The last two columns are now the indicator variable representation of the fuel-type variable. It's all 0s and 1s now.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #4: </h1>

<b>As above, create indicator variable to the column of "aspiration": "std" to 0, while "turbo" to 1.</b>
</div>

In [45]:
# Write your code below and press Shift+Enter to execute 
df['aspiration_indicator'] = df['aspiration'].map({'std': 0, 'turbo': 1})

# Display the modified DataFrame
print("\nDataFrame with indicator variable:")
print(df)

DataFrame with indicator variable:
     symboling normalized-losses         make aspiration num-of-doors  \
0            3             122.0  alfa-romero        std          two
1            3             122.0  alfa-romero        std          two
2            1             122.0  alfa-romero        std          two
3            2               164         audi        std         four
4            2               164         audi        std         four
..         ...               ...          ...        ...          ...
200         -1                95        volvo        std         four
201         -1                95        volvo      turbo         four
202         -1                95        volvo        std         four
203         -1                95        volvo      turbo         four
204         -1                95        volvo      turbo         four

      body-style drive-wheels engine-location  wheel-base  length  ...  \
0    convertible          rwd           front        88.6   168.8  ...
1    convertible          rwd           front        88.6   168.8  ...
2      hatchback          rwd           front        94.5   171.2  ...
3          sedan          fwd           front        99.8   176.6  ...
4          sedan          4wd           front        99.4   176.6  ...
..           ...          ...             ...         ...     ...  ...
200        sedan          rwd           front       109.1   188.8  ...
201        sedan          rwd           front       109.1   188.8  ...
202        sedan          rwd           front       109.1   188.8  ...
203        sedan          rwd           front       109.1   188.8  ...
204        sedan          rwd           front       109.1   188.8  ...

     stroke  compression-ratio  horsepower peak-rpm city-mpg  highway-mpg  \
0      2.68                9.0         111     5000       21           27
1      2.68                9.0         111     5000       21           27
2      3.47                9.0         154     5000       19           26
3      3.40               10.0         102     5500       24           30
4      3.40                8.0         115     5500       18           22
..      ...                ...         ...      ...      ...          ...
200    3.15                9.5         114     5400       23           28
201    3.15                8.7         160     5300       19           25
202    2.87                8.8         134     5500       18           23
203    3.40               23.0         106     4800       26           27
204    3.15                9.5         114     5400       19           25

     price diesel    gas  aspiration_indicator
0    13495  False   True                     0
1    16500  False   True                     0
2    16500  False   True                     0
3    13950  False   True                     0
4    17450  False   True                     0
..     ...    ...    ...                   ...
200  16845  False   True                     0
201  19045  False   True                     1
202  21485  False   True                     0
203  22470   True  False                     1
204  22625  False   True                     1

[205 rows x 28 columns]

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #5: </h1>

<b>Merge the new dataframe to the original dataframe then drop the column 'aspiration'</b>
</div>

In [46]:

df['aspiration_indicator'] = df['aspiration'].map({'std': 0, 'turbo': 1})

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Drop 'aspiration' column
df.drop(columns=['aspiration'], inplace=True)

# Display DataFrame after dropping 'aspiration' column
print("\nDataFrame after dropping 'aspiration' column:")
print(df)

Original DataFrame:
     symboling normalized-losses         make aspiration num-of-doors  \
0            3             122.0  alfa-romero        std          two
1            3             122.0  alfa-romero        std          two
2            1             122.0  alfa-romero        std          two
3            2               164         audi        std         four
4            2               164         audi        std         four
..         ...               ...          ...        ...          ...
200         -1                95        volvo        std         four
201         -1                95        volvo      turbo         four
202         -1                95        volvo        std         four
203         -1                95        volvo      turbo         four
204         -1                95        volvo      turbo         four

      body-style drive-wheels engine-location  wheel-base  length  ...  \
0    convertible          rwd           front        88.6   168.8  ...
1    convertible          rwd           front        88.6   168.8  ...
2      hatchback          rwd           front        94.5   171.2  ...
3          sedan          fwd           front        99.8   176.6  ...
4          sedan          4wd           front        99.4   176.6  ...
..           ...          ...             ...         ...     ...  ...
200        sedan          rwd           front       109.1   188.8  ...
201        sedan          rwd           front       109.1   188.8  ...
202        sedan          rwd           front       109.1   188.8  ...
203        sedan          rwd           front       109.1   188.8  ...
204        sedan          rwd           front       109.1   188.8  ...

     stroke  compression-ratio  horsepower peak-rpm city-mpg  highway-mpg  \
0      2.68                9.0         111     5000       21           27
1      2.68                9.0         111     5000       21           27
2      3.47                9.0         154     5000       19           26
3      3.40               10.0         102     5500       24           30
4      3.40                8.0         115     5500       18           22
..      ...                ...         ...      ...      ...          ...
200    3.15                9.5         114     5400       23           28
201    3.15                8.7         160     5300       19           25
202    2.87                8.8         134     5500       18           23
203    3.40               23.0         106     4800       26           27
204    3.15                9.5         114     5400       19           25

     price diesel    gas  aspiration_indicator
0    13495  False   True                     0
1    16500  False   True                     0
2    16500  False   True                     0
3    13950  False   True                     0
4    17450  False   True                     0
..     ...    ...    ...                   ...
200  16845  False   True                     0
201  19045  False   True                     1
202  21485  False   True                     0
203  22470   True  False                     1
204  22625  False   True                     1

[205 rows x 28 columns]

DataFrame after dropping 'aspiration' column:
     symboling normalized-losses         make num-of-doors   body-style  \
0            3             122.0  alfa-romero          two  convertible
1            3             122.0  alfa-romero          two  convertible
2            1             122.0  alfa-romero          two    hatchback
3            2               164         audi         four        sedan
4            2               164         audi         four        sedan
..         ...               ...          ...          ...          ...
200         -1                95        volvo         four        sedan
201         -1                95        volvo         four        sedan
202         -1                95        volvo         four        sedan
203         -1                95        volvo         four        sedan
204         -1                95        volvo         four        sedan

    drive-wheels engine-location  wheel-base  length  width  ...  stroke  \
0            rwd           front        88.6   168.8   64.1  ...    2.68
1            rwd           front        88.6   168.8   64.1  ...    2.68
2            rwd           front        94.5   171.2   65.5  ...    3.47
3            fwd           front        99.8   176.6   66.2  ...    3.40
4            4wd           front        99.4   176.6   66.4  ...    3.40
..           ...             ...         ...     ...    ...  ...     ...
200          rwd           front       109.1   188.8   68.9  ...    3.15
201          rwd           front       109.1   188.8   68.8  ...    3.15
202          rwd           front       109.1   188.8   68.9  ...    2.87
203          rwd           front       109.1   188.8   68.9  ...    3.40
204          rwd           front       109.1   188.8   68.9  ...    3.15

     compression-ratio horsepower peak-rpm  city-mpg highway-mpg  price  \
0                  9.0        111     5000        21          27  13495
1                  9.0        111     5000        21          27  16500
2                  9.0        154     5000        19          26  16500
3                 10.0        102     5500        24          30  13950
4                  8.0        115     5500        18          22  17450
..                 ...        ...      ...       ...         ...    ...
200                9.5        114     5400        23          28  16845
201                8.7        160     5300        19          25  19045
202                8.8        134     5500        18          23  21485
203               23.0        106     4800        26          27  22470
204                9.5        114     5400        19          25  22625

    diesel    gas aspiration_indicator
0    False   True                    0
1    False   True                    0
2    False   True                    0
3    False   True                    0
4    False   True                    0
..     ...    ...                  ...
200  False   True                    0
201  False   True                    1
202  False   True                    0
203   True  False                    1
204  False   True                    1

[205 rows x 27 columns]

save the new csv

In [47]:
df.to_csv('clean_df.csv')

<h1>Thank you for completing this notebook</h1>